<%= form_for(topic) do |f| %>

<div class="field">
  f.label :name
  f.text_field :name
</div>

<div class="field">
  f.label :content
  f.text_area :content
</div>

<div class="">
  f.label :timg
  f.text_field :timg
</div>

<div class="">
  f.label :subject_id
  f.text_field
</div>

<div class="">
  <%= f.submit %>
</div>
<% end %>
