<h2>This is the  about page</h2>

<h2>About the Sparta Project</h2>

<p><strong>The sparta project is one of those special places that you wish you had when you were learning.</strong> It contains a collection of resources that take you on a journey through web development.</p>
<hr>
<p>Created by a team of extrodinary technical consultants</p>
