<br><br>
<div class="container">
<h2>About the Sparta Project</h2>

<p><strong>The sparta project is one of those special places that you wish you had when you were learning.</strong> It contains a collection of resources that take you on a journey through web development.</p>
<hr>
<p>Created by a team of extraordinary technical consultants</p>

<div class="profiles">

<div class="row">
  <div class="col-3">
    <img width="100%" src="/images/headshots/toweka.png" alt="">
  </div>

  <div class="col-9">
    <h2>Toweka Malcolm</h2>

    <p> Toweka is a highly motivated and enthusiastic technical consultant who can break problems down to a fundamental level, he is then able to apply this deep understanding in order to provide innovative ideas and solutions to complex challenges. He is an accomplished problem solver with the ability to not only identify root causes and solutions to a problem, but also to prioritise actions based on importance in order to reach an informed decision. Toweka has found this skill essential in his day-to-day work as a technical consultant. Toweka also shows a strong inclination towards self-development, never resting on his laurels and consistently moving towards being the best he can be, ensuring he is able to deliver value in all work he undertakes.</p>
    <a href="https://github.com/toweka/game-project">Please visit Toweka's GitHub</a>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <img src="/images/headshots/steven.png" alt="">
  </div>

  <div class="col-9">
    <h2>Steven Besal</h2>

    <p>Steven is a self-motivated and enthusiastic technical consultant who is driven by his strong team worker skills able to lead as well as follow directions, balancing his responsibilities, providing the best possible outcome for his clients and himself. As a consultant he has garnered the knowledge of understanding how to break problems down in order to find the best solution. His keen eyes and attention to detail enable him to address issues, strong communication skills ensure clarity and understanding of the stakeholder needs.</p>
    <a href="https://github.com/StevenBesal/SpartaGame">Please visit Steven's GitHub</a>
  </div>

</div>

<div class="row">
  <div class="col-3">
    <img src="/images/headshots/joe.jpeg" alt="">
  </div>

  <div class="col-9">

    <h2>Joseph Cheung</h2>

    <p>Joseph is a highly motivated and responsible technical consultant with strong knowledge in Java and C. He has excellent communication skills built from his past experiences communicating with colleagues and clients on a daily basis, building positive client relationships, demonstrate emotional intelligence and confidence collaborating with a diverse range of clients and stakeholders across many disciplines and fields. He is an exceptional team player and have extensive experience meeting challenging deadlines whilst persevering under pressure, completing tasks with risk assessment and project planning in a timely manner. Understands the importance of working flexibly and learning new skills to fit the ever-changing challenges that businesses face.</p>
    <a href="https://github.com/jckcheung09/Card-Matching-game">Please visit Joseph's GitHub</a>

  </div>

</div>

<div class="row">

  <div class="col-3">
    <img src="/images/headshots/anne.jpeg" alt="">
  </div>

  <div class="col-9">

    <h2>Anne Cooke</h2>

    <p>Anne is a motivated and hard-working consultant who is driven to provide technical solutions for businesses facing challenges. As a consultant, she prides herself on communicating with others in order to fully understand their needs and requirements. Through her studies at university, Anne has developed an excellent eye for detail, ensuring the work she delivers is to the highest standard. From her experience working as a case handler, in the legal sector, she has acquired strong organisational skills, allowing her to manage projects and goals efficiently. Anne is committed to self-development and strives to continue expanding her skill-set in order to provide a wider range of solutions, depending on each client’s specific needs.</p>
    <a href="https://github.com/annefcooke/simon-says-project">Please visit Anne's GitHub</a>
  </div>

</div>

<div class="row">

  <div class="col-3">
    <img src="/images/headshots/shaun.jpeg" alt="">
  </div>

  <div class="col-9">

    <h2>Shaun Scott</h2>

    <p>Shaun is a highly-driven and adaptable consultant, with a keen eye for detail, who is consistently able to give clear and creative solutions to problems. Performing as part of a successful and efficient team in previous roles, he prides himself on his ability to form successful relationships, through a good understanding of their individual needs. Additionally, his motivation towards self-improvement is very important to him, as he believes that constant improvement is the key to success in any aspect of life. He has an extremely conscientious attitude, always focusing on how he can deliver value.</p>
    <a href="https://github.com/Shaun273/RadialShooterGame">Please visit Shaun's GitHub</a>

  </div>

</div>

<div class="row">

  <div class="col-3">
    <img src="/images/headshots/ali.jpeg" alt="">
  </div>

  <div class="col-9">

    <h2>Ali Karami</h2>

    <p>Ali is an enthusiastic, hardworking and ambitious Technical Consultant with a fascination with software development and computer systems, and a passion for technical advancement. He possesses a proven ability to contribute effectively as an integral member of successful teams, utilising outstanding interpersonal communication skills to liaise competently with diverse groups of stakeholders. Ali uses initiative, combined with a methodical approach to develop creative solutions to complex problems, working with a determination to succeed and the strength to take ownership of every possible challenge. Ali is committed to helping others develop whilst continuing to learn and grow in this exciting and progressive industry.</p>
    <a href="https://github.com/alijy/Minesweeper">Please visit Ali's GitHub</a>

  </div>

</div>

<div class="row">

  <div class="col-3">
    <img src="/images/headshots/pawan.jpeg" alt="">
  </div>

  <div class="col-9">

    <h2>Pawan Kumar</h2>

    <p>Pawan is an enthusiastic and a committed technical consultant who is actively keen on learning new concepts and ideas. Pawan has a background in retail where he has provided excellent customer service and was promoted to be a supervisor. As well as being a continued team player, he has the aptitude to work independently and complete tasks under pressure. Pawan is a highly driven individual, who meets all deadlines and accomplishes assigned tasks. Pawan believes in self-development is an important aspect of life to grow as an individual and a professional. He has a positive attitude, which is illustrated by his willingness to take on new challenges. His calm and approachable character makes him suitable for a professional work place and building positive, professional relationships. Pawan is ambitious and has a lot of patience even in stressful circumstances. He quickly adapts to new settings which is a great attribute of a consultant.</p>
    <a href="https://github.com/Pawaz11/hangman">Please visit Pawan's GitHub</a>

  </div>

</div>

<div class="row">

  <div class="col-3">
    <img src="/images/headshots/seb.jpeg" alt="">
  </div>

  <div class="col-9">

    <h2>Sebastian Lewis</h2>

    <p>Sebastian is an enthusiastic Technical Consultant always seeking a fresh challenge to apply his skills. Sebastian approaches his work with pragmatism ensuring to deliver the maximum value at each stage. He understands the importance of being both organised and adaptable in order to ensure the success of any project. Software development is a keen interest of Sebastian’s, researching industry trends and new languages in his spare time.</p>
    <a href="https://github.com/slewis96/CircleGame">Please visit Sebastian's GitHub</a>

  </div>


</div>
</div>
</div>
