<div class="home_page">

  <div class="container home-div">

    <h1>The Sparta Project</h1>
    <br>

    <h4>Learning Platform Created by Engineering-10 @ Sparta Global</h4>
    <br>
    <br>
    <br>
    <a href="/subjects">
      <button type="button" class="btn btn-outline-warning btn-lg"> Begin Learning </button>
    </a>
  </div>
</div>
