<div class="home_page">

  <div class="container home-div">

    <h1>The Sparta Project</h1>
    <br>

    <h4>Learning Platform Created by Engineering-10 at Sparta Global</h4>
    <br>
    <br>
    <br>
    <h2><a href="/subjects">Begin learning...</a></h2>
  </div>
</div>
