// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  text-align: center;
}
.logo {
  width: 50%;
  text-align: center;
  border:2px solid rgba(29, 29, 29, 0.74);
  border-radius: 4px;
  background-color: rgba(171, 171, 171, 0.6);
  padding: 10px;
}
.content{
  color: black;
  text-align: center;
  margin: auto;
  width: 100%;
}

.ptag{
  color: white;
  border-radius: 20px;
  padding: 1%;
}
a{
  color: white;
}
.subjectscontent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subjectboxes{
  width: 300px;
  margin: 2%;
  background: rgba(0, 0, 0, 0.25%);
  padding: 20px;
  border-radius: 20px 20px;
}
