// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  text-align: center;
  margin: 3%;
}
.showtitle{
  margin-bottom: 3%;
}

.topicdiv{
  background-color: #dce2ed;
  border: 2px gray solid;
  color: black;
  border-radius: 20px;
  padding: 1%;
}
