<!-- Footer -->
<footer class="page-footer font-small bg-secondary text-white pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3">
        <h5 class="text-uppercase">Eng-10 at Sparta Global <img src="" alt=""> </h5>
        <div class="">
          <a href="https://www.spartaglobal.com/"><img src="/sparta_logo.jpg" height="50px"></a>
          <a href="https://www.linkedin.com/company/sparta-global/"> <img src="/linkedin-logo.png" height="80px"></a>
        </div>

        <a href="/about">ABOUT US</a>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

    </div>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> SpartaGlobal.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
