
<footer>
  <div class="container">
    <div class="footer-left col-sm-12 col-md-6">
      <a href="https://www.spartaglobal.com/"><img src="/sparta_logo.jpg" height="50px"> </a>
      <span>© Copyright Sparta Global 2018</span>
    </div>
    <div class="footer-right col-sm-12 col-md-6">
      <ul class="footer-menu">
        <li><a class="add-space" href="/index">Home</a> /</li>
        <li><a class="add-space" href="/about">About</a> /</li>
        <li><a class="add-space" href="/subjects">Subjects</a> /</li>
        <li><a class="" href="/about">Contact</a></li>
      </ul>
      <ul class="footer-social">
        <li>
          <a href="https://en-gb.facebook.com/spartaglobal/" target="_blank" title="Facebook">
            <img class="fa-facebook" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company-beta/5109240/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i>
            <img class="fa-linkedin" alt="">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/spartaglobal?lang=en" target="_blank" title="Twitter"><i class="fa fa-twitter"></i>
            <img class="fa-twitter" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/spartaglobal/?hl=en" target="_blank" title="instagram"><i class="fa fa-instagram"></i>
            <img class="fa-instagram" alt="">
        </a>
        </li>
        <li>
          <a href="https://vimeo.com/user66988808" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i>
            <img class="fa-vimeo" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
