<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/index">The Sparta Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subjects">Subjects</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/subjects">All</a>
          <a class="dropdown-item" href="/subjects/1">HTML</a>
          <a class="dropdown-item" href="/subjects/2">CSS</a>
          <a class="dropdown-item" href="/subjects/4">JS</a>
          <a class="dropdown-item" href="/subjects/3">JQuery</a>
          <a class="dropdown-item" href="/subjects/7">SASS</a>
          <a class="dropdown-item" href="/subjects/6">Ruby</a>
          <a class="dropdown-item" href="/subjects/5">Rails</a>
          <a class="dropdown-item" href="/subjects/8">Sinatra</a>
          <a class="dropdown-item" href=""><hr></a>
          <a class="dropdown-item" href="/subjects/new">Create new Subject</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
